
li {
    list-style: none;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.ls-container div {
    margin: 5px;
}

.config-item {
    display: flex;
    justify-content: space-between;
}

.config-item div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0;
}

.config-item button {
    width: 100px;
    margin: 0 5px;
}

.config-item a{
    color: #ffffff;
}

.config-item a:hover{
    color: #ffffff;
}

.panel-body {
    margin-bottom: 40px;
}

.obrig {
    color: red;
}

.loader {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto !important;
}

.descricao {
    background-color: white;
    padding: 15px;
}

.dummy {
    background-color: red;
}

.semi-frame {
    margin: 10px 10%;
}

.align-right{
    text-align: right;
}

/* Safari */
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.center-content {
    display: flex;
    justify-content: center;
}

.sm-rm {
    margin-right: 20px;
}

.table-danger {
    background-color: #f5c6cb;
}

@media print{

    .panel-heading {
        display: none;
    }

    .print-button {
        display: none;
    }

    .tot {
        width: 17%;
    }

    .print-hide {
        display: none;
    }

    .content-body {
        padding: 0;
    }

    .tab-content {
        box-shadow: none;
        border: none;
        padding: 0;
    }
}