#main-container-index {
    min-height: 90vh;
    margin-top: 2em;
    font-family: 'Inter', sans-serif;
}

.text-inner-paragraph  h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: justify;
}

.text-inner-paragraph:nth-child(2n) {
    padding-top: 20px;
}

.header-description {
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 801px){
    .formulario {
 
    }

    .form-group-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .pass-form {
        margin-top: 20px;
    }

    .logo{

    }
    
    .cabecalho{
        background-color: #d9d9d9;
        border-bottom: solid 1px #bfbfbf;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 12px;
    }
    
    .corpo{
        margin-top: 30px;
    }
    
    .body{
        background-color: #f8f8f8 !important;
        padding-bottom:  100% !important;
    }
    
    .row.form-group{
        height: 120px;
    }
    
    .input-lg, .form-group-lg .form-control {
        height: 30px;
        padding: 5px 10px;
        font-size: 15px;
        line-height: 1.33;
        border-radius: 6px;
    }
    .mb-lg{
        width: 300px;
    }

    .carrosel{
        padding-left: 30px;
    }

    .index-logo > .item > img {
        max-width: 500px;
    }
    
    .informacao{
        padding-right: 70px;
    }
    
    h1{
        text-align: center;
    }
    
    p{
            text-align: justify;
        align-content: center;
    }
    
    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .lar{
        font-size: 20px;
    }
    
    .wegia{
    }
    
    .entrar{
        margin-bottom: 15px;
        width: 100%;
    }
    
    .descricao div {
        display: flex;
        flex-direction: column;

    }

    .main-menu-logo, .login-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entrar {
        width: 100%;
    }
    
}

@media only screen and (max-width: 800px){
    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 40px !important;
    }

    .text {
        text-align: center;
        margin: 5%;
    }

    .footer {
        background-color: black;
        display: flex;
        justify-content: space-between;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
        margin: 0 auto;
    }

    .entrar{
        margin-left: -10px;
        margin-top: 20px;
    }
}
