 /* Container do toggle */
 .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    /*height: 34px;
    padding-bottom: 0px;*/
}

/* Esconde o input checkbox */
.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilo do label que age como o toggle */
.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

/* Estilo do círculo deslizante */
.toggle-label:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    /*bottom: 4px;*/
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* Estilo quando o checkbox está marcado */
.toggle-input:checked+.toggle-label {
    background-color: #2196F3;
}

.toggle-input:checked+.toggle-label:before {
    transform: translateX(36px);
}

/*Centralizar verticalmente */
.vertical-center{
    vertical-align: middle!important;
}

/*Estilos do modal de edição*/
.modal-header-primary {
    background-color: #0088cc; /* Azul do panel-primary */
    color: white;
    border-bottom: 1px solid #2e6da4; /* Borda inferior azul escuro */
}

.modal-header-primary .modal-title {
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
}

.modal-header-primary .close {
    color: #d2322d ; /* Define a cor vermelha */
    opacity: 1; /* Torna o ícone completamente opaco */
    text-shadow: 0 1px black;
}

.modal-header-primary .close:hover,
.modal-header-primary .close:focus {
    color: rgb(231, 15, 15); /* Altera a cor para vermelho escuro ao passar o mouse ou focar */
    text-shadow: 0 1px red;
}

