@media print{
    #header {
        display: none;
    }

    .menuu {
        display: none;
    }

    .panel-heading {
        display: none;
    }
    
    .content-body {
        padding: 0;
    }

    .print-hide {
        display: none;
    }
}